In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.939521 -0.101173
1    a  two  0.238563 -0.730933
2    b  one -0.514102 -0.869566
3    b  two  0.675450  0.721122
4    a  one -0.514050 -1.513973

In [5]:
df.groupby(['key1','key2'])[['data1','data2']].max()

              data1     data2
key1 key2
a    one   0.939521 -0.101173
     two   0.238563 -0.730933
b    one  -0.514102 -0.869566
     two   0.675450  0.721122