In [4]:
import tools
from tools import get_path,in_out_imformation,get_station_imfo
import pandas as pd
if __name__ == "__main__":
    name_list = get_path()
    stations_imfo = get_station_imfo()
    all_in_out = in_out_imformation(name_list,stations_imfo)
    station_in_out = pd.concat(all_in_out)
    print(station_in_out)

              日期   站名    入站    出站
0     2019-04-23   基隆  8442  7743
1     2019-04-23   三坑  1394  1348
2     2019-04-23   八堵  2770  2423
3     2019-04-23   七堵  6113  6335
4     2019-04-23   百福  2680  2726
...          ...  ...   ...   ...
86604 2023-12-31   瑞芳  7916  8252
86605 2023-12-31  海科館   164   195
86606 2023-12-31  八斗子   652   720
86607 2023-12-31  四腳亭  1526   656
86608 2023-12-31   暖暖   576   447

[406761 rows x 4 columns]

In [12]:
years =station_in_out['日期'].dt.year
station_in_out.groupby(by=years)[['入站','出站']].mean()

               入站           出站
日期
2019  2766.710256  2766.710256
2020  2395.895769  2395.895769
2021  1841.072083  1841.072083
2022  2026.060900  2026.060900
2023  2592.461315  2592.461315

In [15]:
years_month =station_in_out['日期'].dt.strftime("%Y-%m")
station_in_out.groupby(by=years_month)[['入站','出站']].mean()

                  入站           出站
日期
2019-04  2715.545693  2715.545693
2019-05  2648.387066  2648.387066
2019-06  2741.498950  2741.498950
2019-07  2719.736592  2719.736592
2019-08  2691.613175  2691.613175
2019-09  2756.751194  2756.751194
2019-10  2843.659032  2843.659032
2019-11  2871.514935  2871.514935
2019-12  2875.779723  2875.779723
2020-01  2712.110011  2712.110011
2020-02  2272.273742  2272.273742
2020-03  2083.419535  2083.419535
2020-04  1844.877040  1844.877040
2020-05  2084.717356  2084.717356
2020-06  2380.356702  2380.356702
2020-07  2483.476792  2483.476792
2020-08  2512.012208  2512.012208
2020-09  2486.403625  2486.403625
2020-10  2643.552524  2643.552524
2020-11  2617.775462  2617.775462
2020-12  2610.635584  2610.635584
2021-01  2283.010871  2283.010871
2021-02  2380.429815  2380.429815
2021-03  2494.746498  2494.746498
2021-04  2605.864626  2605.864626
2021-05  1467.208373  1467.208373
2021-06   526.343290   526.343290
2021-07   711.372284   711.372284
2021-08  1270.030464  1270.030464
2021-09  1673.207091  1673.207091
2021-10  2054.215779  2054.215779
2021-11  2243.596553  2243.596553
2021-12  2403.813433  2403.813433
2022-01  1944.851269  1944.851269
2022-02  1962.555322  1962.555322
2022-03  2231.427565  2231.427565
2022-04  1928.910303  1928.910303
2022-05  1324.284134  1324.284134
2022-06  1521.673873  1521.673873
2022-07  1937.805204  1937.805204
2022-08  2126.952058  2126.952058
2022-09  2191.163147  2191.163147
2022-10  2255.201938  2255.201938
2022-11  2413.040214  2413.040214
2022-12  2466.089909  2466.089909
2023-01  2416.057321  2416.057321
2023-02  2582.692157  2582.692157
2023-03  2498.905203  2498.905203
2023-04  2634.612532  2634.612532
2023-05  2473.501767  2473.501767
2023-06  2462.104834  2462.104834
2023-07  2428.852138  2428.852138
2023-08  2510.113809  2510.113809
2023-09  2633.573583  2633.573583
2023-10  2759.310818  2759.310818
2023-11  2807.991306  2807.991306
2023-12  2906.511425  2906.511425