In [9]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

In [3]:
df=df['data1'].groupby(df['key1'])

In [5]:
df.aggregate([("最大","max"),('最小',"min")])

            最大        最小
key1
a     0.866318  0.466840
b     0.014240 -0.627407

In [11]:
groupb = df.groupby('key1')['data1']
groupb.aggregate([("最大","max"),('最小',"min"),('數量','count')])

            最大        最小  數量
key1
a     0.441384 -0.653863   3
b     1.124336  0.145060   2