In [16]:
import os
dirname = os.path.dirname(os.path.abspath(__name__))
file_dirname = os.path.join('每日各站進出站人數')

name_list = []
for filename in (os.listdir(file_dirname)):
    if '每日各站進出站人數' in filename:
        name_list.append(os.path.join(file_dirname,filename))
name_list

['每日各站進出站人數\\每日各站進出站人數20190423-20191231.csv',
 '每日各站進出站人數\\每日各站進出站人數2020.csv',
 '每日各站進出站人數\\每日各站進出站人數2021.csv',
 '每日各站進出站人數\\每日各站進出站人數2022.csv',
 '每日各站進出站人數\\每日各站進出站人數2023.csv']

In [17]:
import os
import json
import pandas as pd
station_path = os.path.join(file_dirname,'車站基本資料集.json')
with open (station_path,encoding='utf-8') as file:
    content =  json.load(file)
station_imformation = pd.DataFrame(content)
station_imformation
 
station_imformation["stationCode"]= station_imformation['stationCode'].astype(int)

In [18]:
name_list
import pandas as pd
inOut=pd.read_csv(name_list[1])

In [36]:

df1 = pd.merge(inOut,station_imformation,left_on='staCode',right_on='stationCode')
df2=df1.reindex(columns=['trnOpDate','stationName','gateInComingCnt','gateOutGoingCnt'])
df3 =df2.rename(columns={'trnOpDate':'日期','stationName':'站名','gateInComingCnt':'入站','gateOutGoingCnt':'出站'})

In [38]:

df3['日期'] = pd.to_datetime(df3['日期'].astype(str))
df3.query('日期=="2020-01-01"')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5472\212115909.py:2: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df3.query('日期=="2020-01-01"')

            日期   站名    入站    出站
0   2020-01-01   基隆  7552  8154
1   2020-01-01   三坑  1020  1135
2   2020-01-01   八堵  1623  1972
3   2020-01-01   七堵  4130  4813
4   2020-01-01   百福  1818  2128
..         ...  ...   ...   ...
234 2020-01-01   瑞芳  5973  7075
235 2020-01-01  海科館   229   228
236 2020-01-01  八斗子   268   307
237 2020-01-01  四腳亭   457   518
238 2020-01-01   暖暖   231   263

[239 rows x 4 columns]