In [16]:
import os
dirname = os.path.dirname(os.path.abspath(__name__))
file_dirname = os.path.join('每日各站進出站人數')

name_list = []
for filename in (os.listdir(file_dirname)):
    if '每日各站進出站人數' in filename:
        name_list.append(os.path.join(file_dirname,filename))
name_list

['每日各站進出站人數\\每日各站進出站人數20190423-20191231.csv',
 '每日各站進出站人數\\每日各站進出站人數2020.csv',
 '每日各站進出站人數\\每日各站進出站人數2021.csv',
 '每日各站進出站人數\\每日各站進出站人數2022.csv',
 '每日各站進出站人數\\每日各站進出站人數2023.csv']

In [17]:
import os
import json
import pandas as pd
station_path = os.path.join(file_dirname,'車站基本資料集.json')
with open (station_path,encoding='utf-8') as file:
    content =  json.load(file)
station_imformation = pd.DataFrame(content)
station_imformation
 
station_imformation["stationCode"]= station_imformation['stationCode'].astype(int)

In [18]:
name_list
import pandas as pd
inOut=pd.read_csv(name_list[1])

In [29]:

df1 = pd.merge(inOut,station_imformation,left_on='staCode',right_on='stationCode')
df2=df1.reindex(columns=['trnOpDate','stationName','gateInComingCnt','gateOutGoingCnt'])

       trnOpDate stationName  gateInComingCnt  gateOutGoingCnt
0       20200101          基隆             7552             8154
1       20200101          三坑             1020             1135
2       20200101          八堵             1623             1972
3       20200101          七堵             4130             4813
4       20200101          百福             1818             2128
...          ...         ...              ...              ...
86927   20201231          瑞芳             3523             3602
86928   20201231         海科館                3               18
86929   20201231         八斗子               28               34
86930   20201231         四腳亭              609              604
86931   20201231          暖暖              377              444

[86932 rows x 4 columns]

In [ ]:
df2.rename({'trnOpDate':'日期'})